.dishImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.dish-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
}

.dish-details {
  width: 60%;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  line-height: 2;
  padding: 1rem;
}

.add-remove-con {
  display: flex;
  background-color: rgb(9, 114, 9);
  color: #fff;
  border-radius: 20px;
  width: 100px;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
}

.btn {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.veg-img,
.non-veg-img {
  width: 30px;
  align-self: flex-start;
}

.dishName {
  color: #000;
  font-weight: 700;
  font-size: 17px;
}

.customization-para {
  color: rgb(1, 1, 249);
  font-weight: 600;
}

.dish-description {
  color: rgb(137, 152, 168);
}

.add-to-cart-btn {
  background-color: #186d05;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px 0;
}

.calories-p {
  color: rgb(227, 192, 18);
}
